@using BankingApp.Core.Application.ViewModels.Beneficiary
@model List<BeneficiaryViewModel>
@{
    ViewData["Title"] = "Beneficiarios";
}

<div class="container-fluid">
    @if (ViewBag.Message != "")
    {
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <h5 class="fw-bold">@ViewBag.Message</h5>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
        </div>
    }
    <div class="row mb-3">
        <div class="col-3 offset-0">
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addBeneficiaryModal">Añadir beneficiario</button>
        </div>
    </div>

    <div class="shadow p-3 mb-5 bg-body-tertiary rounded border">
        <div class="row mb-12">
            <h2 class="text-center fw-bold text-success mb-5">Beneficiarios</h2>

            @if (Model == null || Model.Count == 0)
            {
                <h4 class="text-center text-muted">No hay beneficiarios</h4>
            }
            else
            {
                @foreach (var beneficiary in Model)
                {
                    <div class="col-4">
                        <div class="full-height">
                            <div class="product-grid">
                                <div class="mb-3">
                                    <div class="card border-success">
                                        <div class="card-body">
                                            <div class="card-title">
                                                <div class="d-flex align-items-center justify-content-start gap-1">
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="fw-bold">Nombre: <span class="fw-bold text-success">@beneficiary.FirstName</span></h5>
                                                <h5 class="fw-bold">Apellido: <span class="fw-bold text-success">@beneficiary.LastName</span></h5>
                                                <h5 class="fw-bold">Numero de cuenta: <span class="fw-bold text-success">@beneficiary.AccountNumber</span></h5>
                                            </div>
                                            <div class="d-flex justify-content-end gap-2 align-items-center mt-3">
                                                <a asp-controller="Client" asp-action="DeleteBeneficiary" asp-route-AccountNumber="@beneficiary.AccountNumber" class="btn btn-danger">Eliminar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>

<div class="modal fade" id="addBeneficiaryModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-4">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLabel">Agregar Beneficiario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="Client" asp-action="CreateBeneficiary" method="post">
                <input placeholder="Numero de cuenta" required type="number" class="form-control" name="accountNumber" />


                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                    <input type="submit" class="btn btn-success" value="Agregar Beneficiario" />
                </div>
            </form>
        </div>
    </div>
</div>



