@using BankingApp.Core.Application.ViewModels.Payment
@model SavePaymentToBeneficiariesViewModel

@{
    ViewData["Title"] = "Pago a beneficiarios";

}

<div class="container">

    <div class="row">
        <div class="col-6 offset-3">
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                    <h5>@ViewBag.Message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
                </div>
            }
            <div class="card">
                <div class="card-header bg-success text-light">
                    <h4>Pago a beneficiarios</h4>
                </div>
                <div class="card-body">

                    <form method="post" asp-controller="Client" asp-action="PaymentToBeneficiaries" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label asp-for="ToBeneficiaryId" class="form-label">Beneficiario</label>
                            <select asp-for="ToBeneficiaryId" class="form-select">
                                <option selected value="0">Seleccione una opcion</option>
                                @foreach (var beneficiary in Model.ToBeneficiaries)
                                {
                                    <option value="@beneficiary.AccountNumber">@beneficiary.AccountNumber</option>
                                }
                            </select>
                            <span asp-validation-for="ToBeneficiaryId" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="FromAccountId" class="form-label">Cuenta de ahorro</label>
                            <select asp-for="FromAccountId" class="form-select">
                                <option selected value="0">Seleccione una opcion</option>
                                @foreach (var Account in Model.FromAccounts)
                                {
                                    <option value="@Account.Id">@Account.Id</option>
                                }
                            </select>
                            <span asp-validation-for="FromAccountId" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Amount" class="form-label">Monto a pagar: </label>
                            <input asp-for="Amount" type="number" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-success">Realizar pago</button>
                        <a asp-controller="Client" asp-action="Index" class="btn btn-warning">&larr;Volver atrás</a>


                    </form>

                </div>

            </div>
        </div>
    </div>

</div>

