@using BankingApp.Core.Application.Enums
@using BankingApp.Core.Application.ViewModels.Payment;
@model List<PaymentViewModel>
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid">

    <div class="row mt-5 mb-5">

        <div class="col-10 offset-1 d-flex justify-content-around align-items-center shadow-sm p-3 mb-5 bg-body-tertiary rounded">
            <a asp-controller="Admin" asp-action="User" name="filterOption" value="0" class="btn btn-success px-3 py-2 d-inline-block">
                <span class="fs-5 d-block">Productos Activos</span>
                <span class="fs-4 fw-bold">@ViewBag.TotalProducts</span>
            </a>
            <a asp-controller="Admin" asp-action="User" name="filterOption" value="0" class="btn btn-success px-3 py-2 d-inline-block">
                <span class="fs-5 d-block">Clientes Activos</span>
                <span class="fs-4 fw-bold">@ViewBag.ActiveClients</span>
            </a>
            <a asp-controller="Admin" asp-action="Index" name="filterOption" value="1" class="btn btn-success px-3 py-2 d-inline-block">
                <span class="fs-5 d-block">Clientes Inactivos</span>
                <span class="fs-4 fw-bold">@ViewBag.InactiveClients</span>
            </a>
        </div>

        <div class="col-12 d-flex justify-content-around align-items-center shadow-sm p-3 mb-5 bg-body-tertiary rounded">
            <a asp-controller="Admin" asp-action="Index" name="filterOption" value="0" class="btn btn-success px-3 py-2 d-inline-block">
                <span class="fs-5 d-block">Transferencias Históricas</span>
                <span class="fs-4 fw-bold">@Model.Where(x => x.Type == (byte)PaymentTypes.Transfer).Count()</span>
            </a>
            <a asp-controller="Admin" asp-action="Index" name="filterOption" value="1" class="btn btn-success px-3 py-2 d-inline-block">
                <span class="fs-5 d-block">Transferencias de hoy</span>
                <span class="fs-4 fw-bold">@Model.Where(x => x.Type == (byte)PaymentTypes.Transfer && x.CreatedTime.Day == DateTime.Now.Day).Count()</span>
            </a>
            <a asp-controller="Admin" asp-action="Index" name="filterOption" value="2" class="btn btn-success px-3 py-2 d-inline-block">
                <span class="fs-5 d-block">Pagos Históricos</span>
                <span class="fs-4 fw-bold">@Model.Where(x => x.Type == (byte)PaymentTypes.PaymentToCreditCard || x.Type == (byte)PaymentTypes.PaymentToLoan).Count()</span>
            </a>
            <a asp-controller="Admin" asp-action="Index" name="filterOption" value="3" class="btn btn-success px-3 py-2 d-inline-block">
                <span class="fs-5 d-block">Pagos de hoy</span>
                <span class="fs-4 fw-bold">@Model.Where(x => x.CreatedTime.Day == DateTime.Now.Day && (x.Type == (byte)PaymentTypes.PaymentToCreditCard || x.Type == (byte)PaymentTypes.PaymentToLoan)).Count()</span>
            </a>
        </div>
    </div>

    @if (Model != null && Model.Count > 0)
    {
        <div class="col-12 alert alert-success mb-4">
            <h2 class="text-center">@ViewBag.TransactionsTitle</h2>
        </div>

        @await Html.PartialAsync("Transactions", Model)
    } 
    
</div>